<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Pokémon Team Maker</title>
    <link rel="stylesheet" href="/teamMaker.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>

<body>
	<h1>Team Builder</h1>
    <form onsubmit="return validateTeam();" action="/buildConfirm" method="post">
    <fieldset id="buildTeam">
        <label id="teamName"><strong>Team Name: </strong><input name="teamName" type="text" maxlength="25" required></label>
        <legend id="buildLegend"><strong>Build Your Team</strong></legend>
        <fieldset class="memberBuilder">
            <legend>Team Member 1</legend>
            <label>Pokémon: <input id="pk1" name="pk1" type="text" required></label>
            <label>Nickname: <input name="nn1" type="text" maxlength="25"></label>
            <label>Shiny? <input name="sh1" type="checkbox"></label>
        </fieldset>

        <fieldset class="memberBuilder">
            <legend>Team Member 2</legend>
            <label>Pokémon: <input id="pk2" name="pk2" type="text" required></label>
            <label>Nickname: <input name="nn2" type="text"></label>
            <label>Shiny? <input name="sh2" type="checkbox"></label>
        </fieldset>

        <fieldset class="memberBuilder">
            <legend>Team Member 3</legend>
            <label>Pokémon: <input id="pk3" name="pk3" type="text" required></label>
            <label>Nickname: <input name="nn3" type="text"></label>
            <label>Shiny? <input name="sh3" type="checkbox"></label>
        </fieldset class="memberBuilder">

        <fieldset class="memberBuilder">
            <legend>Team Member 4</legend>
            <label>Pokémon: <input id="pk4" name="pk4" type="text" required></label>
            <label>Nickname: <input name="nn4" type="text"></label>
            <label>Shiny? <input name="sh4" type="checkbox"></label>
        </fieldset>

        <fieldset class="memberBuilder">
            <legend>Team Member 5</legend>
            <label>Pokémon: <input id="pk5" name="pk5" type="text" required></label>
            <label>Nickname: <input name="nn5" type="text"></label>
            <label>Shiny? <input name="sh5" type="checkbox"></label>
        </fieldset>

        <fieldset class="memberBuilder">
            <legend>Team Member 6</legend>
            <label>Pokémon: <input id="pk6" name="pk6" type="text" required></label>
            <label>Nickname: <input name="nn6" type="text"></label>
            <label>Shiny? <input name="sh6" type="checkbox"></label>
        </fieldset>
        <input class="formButton" type="reset" value="Clear">
		<input class="formButton" type="submit" value="Save Team">
    </fieldset>
    </form>
    <a class="backHomeButton" href="/"><strong>Back to Home</strong></a>

    <script>
        function validateTeam() {
            return window.confirm("Are you sure you want to save this team?\n");
        }
    </script>
</body>
</html>