<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Pokémon Team Maker</title>
    <link rel="stylesheet" href="/teamMaker.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>

<body>
	<h1>Delete Complete</h1>
    <div class="teamList">
    <p><strong>You have deleted a total of <%- numTeams%> teams. Time to start a new adventure!</strong></p>
    <br>
    <a class="backHomeButton" href="/"><strong>Back to Home</strong></a>
    </div>
    <br>
</body>
</html>