<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Pokémon Team Maker</title>
    <link rel="stylesheet" href="/teamMaker.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>

<body>
	<h1>Delete Complete</h1>
    <div class="teamList">
    <p><strong>This team has been deleted.</strong></p>
    <span><a class="backHomeButton" href="/viewAllTeams"><strong>Back to Teams</strong></a></span>
    <span><a style="margin-left: 15px;" class="backHomeButton" href="/"><strong>Back to Home</strong></a></span>
    </div>
    <br>
</body>
</html>