<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Nessie API App</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>

<body>
	<h1>Delete Complete</h1>
    <div>
    <p><strong>Purchases have been cleared from database.</strong></p>
    <br>
    <a class="backHomeButton" href="/"><strong>Back to Home</strong></a>
    </div>
    <br>
</body>
</html>