<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Nessie API App</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>

<body>
	<h1>Nessie API App</h1>
    <a href="/searchATMs"><button class="homePageButton">Search ATMs</button></a> Look for ATMs Near You!
    <br><br>
    <a href="/customerProfile"><button class="homePageButton">Customer Profile</button></a> View Nessie's Profile
    <br><br>
    <a href="/addAccount"><button class="homePageButton">Add Account</button></a> Add New Account
    <br><br>
    <a href="/addBill"><button class="homePageButton">Pay Card</button></a> Create New Credit Card Bill
    <br><br>
    <a href="/addPurchase"><button class="homePageButton">Make Apple Purchase</button></a> Create New Purchase to Apple
    <br><br>
    <a href="/addTransfer"><button class="homePageButton">Transfer Money</button></a> Create New Transfer to a Saving Account
    <br><br>
    <a href="/viewCard"><button class="homePageButton">View Card Account</button></a> See Credit Card Account Details from Analyst View
    <br><br>
    <a href="/viewPurchases"><button class="homePageButton">View Purchases</button></a> See Purchases to Apple
</body>
</html>