<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Pokémon Team Maker</title>
    <link rel="stylesheet" href="/teamMaker.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>

<body>
	<h1>Welcome to the Pokémon Team Maker!</h1>
    <h2>Start your journey:</h2>
    <a href="/build"><button class="homePageButton">Team Builder</button></a> Put together your very best!
    <br><br>
    <a href="/viewAllTeams"><button class="homePageButton">View Teams</button></a> View saved teams.
    
    <h2>Need help? Here are some resources:</h2>
    <ul>
        <li>
            <a href="https://bulbapedia.bulbagarden.net/wiki/Main_Page" target="_blank">Bulbapedia</a>
        </li>
        <li>
            <a href="https://www.serebii.net/" target="_blank">Serebii</a>
        </li>
        <li>
            <a href="https://pokemondb.net/pokedex/all" target="_blank">Pokémon Database</a>
        </li>
    </ul>
</body>
</html>