<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Pokémon Team Maker</title>
    <link rel="stylesheet" href="/teamMaker.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>

<body>
	<h1>All Teams</h1>
    <div class="teamList">
        <strong id="selectTeam">Select a Team:</strong>
        <br>
        <div>
            <%- teams%>
        </div>
    </div>
    <div class="deleteAllTeams">
        <form onsubmit="return confirmDelete();" action="/deleteAllTeamsConfirmed" method="post">
            <input type="submit" class="deleteBtn" value="Delete All Teams">
        </form>
    </div>
    <br>
    <a class="backHomeButton" href="/"><strong>Back to Home</strong></a>
    <script>
        function confirmDelete() {
            return window.confirm("Are you sure you want to delete all your teams?");
        }
    </script>
</body>
</html>